
@{
    ViewBag.Title = "Regis_JD";
}
<style type='text/css'>
    form {
        display: inline;
        float: left;
    }

    span, a {
        font-family: Bahnschrift;
    }

    h3 {
        font-family: 'Leelawadee';
    }

    h2, h4 {
        font-family: 'Leelawadee';
    }

    textarea {
        padding: 10px;
        max-width: 100%;
        line-height: 3;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
    }

    body {
        background-color: lightcyan;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Leelawadee';
    }
</style>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var i = 1;
    function MainAcRow() {
        i++;
        console.log(i);
        $('#childTable').find('tbody').append('<tr class="warning"><th scope="row">' + i + '</th><td class="col-sm-4"><select id="status_'+ i + '" name="Status[]" class="form-control head_selecter" data-validate="required"><option value="0">--Please select--</option>@foreach (var item in ViewBag.Header){<option value="@item.header_id">@item.header_name</option>}</select></td><td class="col-sm-2"><select id="status" name="Status" class="form-control" data-validate="required"><option value="">--Please select--</option></select></div ></td ><td><input type = "button" class= "btn btn-block btn-info" id = "addrow" onclick = "SubAcRow()" value = "เพื่มหัวข้อรอง" /></td ><td><input type="button" class="btn btn-danger" value="ลบแถวจากล่าง" onclick="deleteRows()" /></td></tr>');



    }
    function SubAcRow() {
        
        for (a = 0.1; a < length; a = length + d++) {
            a++;
        }
        $('#childTable').find('tbody').append('<tr><th scope="row"></th><td class="col-sm-4"><select id="status" name="Status[]" class="form-control head_detail_selecter" data-validate="required"><option value="0">--Please select--</option>@foreach (var item in ViewBag.HeadDrop){<option value="@item.detail_id">@item.detail_name</option>}</select><th scope="row"></th><th scope="row"></th><th scope="row"></th></tr>');
    }

    //function addRows() {
    //    var table = document.getElementById('emptbl');
    //    var rowCount = table.rows.length;
    //    var cellCount = table.rows[0].cells.length;
    //    var row = table.insertRow(rowCount);
    //    for (var i = 0; i <= cellCount; i++) {
    //        var cell = 'cell' + i;
    //        cell = row.insertCell(i);
    //        var copycel = document.getElementById('col' + i).innerHTML;
    //        cell.innerHTML = copycel;
    //        if (i == 3) {
    //            var buttoninput = document.getElementById('col3').getElementsByTagName('input');
    //                if (buttoninput[j].type == 'button') {
    //                    var rownum = rowCount;
    //                    buttoninput[j].name = 'gender[' + rownum + ']';
    //                }
    //            }
    //            for (var j = 0; j <= buttoninput.length; j++) {
    //        }
    //    }
    //}
    function deleteRows() {
        var table = document.getElementById('childTable');
        var rowCount = table.rows.length;
        if (rowCount > '7') {
            var row = table.deleteRow(rowCount - 1);
            rowCount--;
        }
        else {
            swal({
                title: "ไม่สามารถดำเนินการได้!",
                text: "ข้อมูลที่จำเป็นไม่สามารถลบได้",
                icon: "error",
                timer: 2000,
                buttons: false,

            });

        }
    }

     $(document).on("change", ".head_selecter", function () {
            var a = $(this);
            $.post("@Url.Action("SelectGroupView", "Master")",
                {
                    header_id: a.val()
                }, function (data) {
                    console.log(data);
                    $('.head_detail_selecter').html(data);
                }
             )
    });

   

    //Button Upload
    $(function () {
        $("#btnSubmit").click(function () {
            console.log("test");
            $('#reg_data').submit();

        })
    });

</script>
<body style="background-color:lightblue">
    @*//lightcyan*@


    <div class="container" style="border-radius:12px;background-color:white;border-color:red">
        <h3 class="text-center" style="color: #000000;"><b>แบบฟอร์มการกำหนดหน้าที่งาน ( Job Description )</b></h3>
        <h4 class="text-center" style="color: #000000;"><b>บริษัท ไทย เอ็นโอเค จำกัด</b></h4>
        @*<div class="container text-center" style="border-radius:12px;background-color:coral;height:4px;width:556px">
            </div>*@
        <br />
    </div>
    <br />
    <div class="container" style="border-radius:12px;background-color:white">


        <form id="reg_data" enctype="multipart/form-data" class="" method="post" action="@Url.Action("TableReport", "Master")">
            <br />
            <div class="col-lg-12">
                <h4><label class="label label-primary"><big>1)  รายละเอียดของตำแหน่ง (Position)</big></label></h4>
            </div>
            <br />
            <div class="form-group">
                <div class="container">
                    <label for="Status" class="col-xs-3 control-label">
                        ชื่อตำแหน่งไทย<br />Thai Position
                    </label>
                    <div class="col-lg-4">
                        <div class="form-inline">
                            <select id="status" name="Status" class="form-control" data-validate="required">
                                <option value="">--Please select--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                @*end section1*@


                <div class="container">
                    <label for="REQ NO" class="col-lg-3">ชื่อตำแหน่งอังกฤษ<br />English Position</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" readonly />
                    </div>
                    <label for="Status" class="col-xs-2 control-label">
                        ชื่อกลุ่มงาน<br />Group
                    </label>
                    <div class="col-lg-3">
                        <div class="form-inline">
                            <select id="status" name="Status" class="form-control" data-validate="required">
                                <option value="">--Please select--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="container">
                    @*end section2*@
                    <label for="Status" class="col-xs-3 control-label">
                        ชื่อฝ่าย<br />Department
                    </label>
                    <div class="col-lg-4">
                        <div class="form-inline">
                            <select id="status" name="Status" class="form-control" data-validate="required">
                                <option value="">--Please select--</option>
                            </select>
                        </div>
                    </div>
                    <label for="REQ NO" class="col-lg-2">วันที่จัดทำ<br />Issued Date</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" />
                    </div>
                    @*end section3*@
                    <div class="col-lg-7">
                        <label for="REQ NO" class="col-lg-2">      </label>
                        <label for="REQ NO" class="col-lg-2">      </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <h4><label class="label label-primary"><big>2)  วัตถุประสงค์ (Job Purpose)</big></label></h4>
            </div>
            <br />
            <div class="container text-center">
                <textarea placeholder="" id="comment" name="comment" rows="5" cols="33" style="height: 85px; width: 1035px;" " ></textarea>
            </div>
            <br />
            <div class="col-lg-12">
                <h4><label class="label label-primary"><big>3)  หน้าที่หลัก/กิจกรรมหลัก (Key Responsibilities and Activities)</big></label></h4>
            </div>
            <br />
            <div class="container">
                <table class="table table-bordered text-center" id="childTable">
                    <thead>
                        <tr class="warning">
                            <th scope="col" ></th>
                            <th scope="col"></th>
                            <th scope="col"class="text-center">เพื่มหัวข้อกิจกรรมหลัก</th>
                            <td scope="col">
                                <input type="button" class="btn btn-block btn-warning" id="addrow" onclick="MainAcRow()" value="เพื่มหัวข้อหลัก" />
                            </td>
                            <td><input type="button" class="btn btn-danger" value="ลบแถวจากล่าง" onclick="deleteRows()" /></td>

                        </tr>
                    </thead>

                    <thead>
                        <tr class="warning" >
                            <th scope="col"class="text-center">ลำดับ (No)</th>
                            <th scope="col"class="text-center">กิจกรรม (Activity)</th>
                            <th scope="col"class="text-center">น้ำหนัก (%)</th>
                            <th scope="col"class="text-center">เพื่มหัวข้อกิจกรรมย่อย</th>
                            <th scope="col"class="text-center">ลบแถวจากล่าง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="warning">
                            <th scope="row">1</th>
                            <td class="col-sm-4">
                                <select id="status" name="Status[]" class="form-control head_selecter" data-validate="required">
                                    <option value="0">--Please select--</option>
                                    @foreach (var item in ViewBag.Header)
                                    {
                                        <option value="@item.header_id">@item.header_name</option>
                                    }
                                </select>
                            </td>
                            <td class="col-sm-2">
                                <div class="form-inline">
                                    <select id="status" name="Status" class="form-control" data-validate="required">
                                        <option value="">--Please select--</option>
                                    </select>
                                </div>


                            </td>
                            <td>
                                <input type="button" class="btn btn-block btn-info" id="addrow" onclick="SubAcRow()" value="เพื่มหัวข้อรอง" />
                            </td>
                            <td><input type="button" class="btn btn-danger" value="ลบแถวจากล่าง" onclick="deleteRows()" /></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td class="col-sm-4">
                                <select id="status" name="Status[]" class="form-control head_detail_selecter" data-validate="required">
                                    <option value="0">--Please select--</option>
                                    @foreach (var item in ViewBag.HeadDrop)
                                    {
                                        <option value="@item.detail_id">@item.detail_name</option>
                                    }
                                </select>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td class="col-sm-4">
                                <select id="status" name="Status[]" class="form-control head_detail_selecter" data-validate="required">
                                    <option value="0">--Please select--</option>
                                    @foreach (var item in ViewBag.HeadDrop)
                                    {
                                        <option value="@item.detail_id">@item.detail_name</option>
                                    }
                                </select>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td class="col-sm-4">
                                <select id="status" name="Status[]" class="form-control head_detail_selecter" data-validate="required">
                                    <option value="0">--Please select--</option>
                                    @foreach (var item in ViewBag.HeadDrop)
                                    {
                                        <option value="@item.detail_id">@item.detail_name</option>
                                    }
                                </select>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td class="col-sm-4">
                                <select id="status" name="Status[]" class="form-control head_detail_selecter" data-validate="required">
                                    <option value="0">--Please select--</option>
                                    @foreach (var item in ViewBag.HeadDrop)
                                    {
                                        <option value="@item.detail_id">@item.detail_name</option>
                                    }
                                </select>
                            <th scope="row"></th>
                            <th scope="row"></th>
                            <th scope="row"></th>
                        </tr>
                    </tbody>
                </table>

                @*<table class="table table-bordered" id="emptbl">
                <tr class="warning">
                    <th>Employee Name</th>
                    <th>Phone</th>
                    <th>Department</th>
                    <th>Gender</th>
                </tr>
                <tr class="warning">
                    <td id="col0"><input class="form-control" type="text" name="empname[]" value="" /></td>
                    <td id="col1"><input class="form-control" type="text" name="phone[]" value="" /></td>
                    <td id="col2">
                        <select class="form-control" name="department[]" id="dept">
                            <option value="0">Select Department</option>
                            <option value="1">Sales</option>
                            <option value="2">IT</option>
                            <option value="3">Warehouse</option>
                        </select>
                    </td>
                    <td id="col3">
                        <input type="button" class="btn btn-info" value="Add Row" onclick="addRows()" />
                    </td>
                </tr>
            </table>*@
                @*<table>
                <tr>
                    <td><input type="button" class="btn btn-info" value="Add Row" onclick="addRows()" /></td>
                    <td><input type="button" class="btn btn-danger" value="Delete Row" onclick="deleteRows()" /></td>

                </tr>
            </table>*@
                @*<div class="number-input">
                <input type="button" id="up" class="btn btn-default" onclick="this.parentNode.querySelector('input[type=number]').stepDown(5)" value="-">
                <input class="quantity" min="0" max="100"  name="quantity" value="0" type="number">
                <input type="button" id="up" class="btn btn-default plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp(5)" value="+">
            </div>*@

            </div>
            <br />
            <div class="col-lg-12">
                <h4><label class="label label-primary"><big>4)  การปฎิบัติตามระบบคุณภาพ และระบบมาตรฐาน (Quality System and Standard)</big></label></h4>
            </div>
            <br />
            <div class="container" >

                <table class="table table-bordered text-center" id="childTable" align="center">


                    <thead>
                        <tr class="warning ">
                            <th scope="col"class="text-center">No.</th>
                            <th scope="col"class="text-center">หัวข้อ (Items)</th>
                            <th scope="col"class="text-center">ปฎิบัติตามข้อกำหนด (Follow requirement)</th>
                            <th scope="col"class="text-center">ไม่เกี่ยวข้อง (Not concern)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <th scope="col">IATF 16949 (ข้อกำหนดระบบบริหารงานคุณภาพ)</th>



                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <th scope="col">ISO-14001 (ข้อกำหนดระบบบริหารงานด้านสิ่งแวดล้อม)</th>



                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <th scope="col">อื่นๆ ระบุ.. <input type="text" name="detail" class="form-control" /></th>
                            



                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <br />
            <div class="col-lg-12">
                <h4><label class="label label-primary"><big>5)  สายการบังคับบัญชา (Line of command)</big></label></h4>
            </div>
            <br />
            <div class="form-group">
                <div class="container">
                    <label for="Status" class="col-xs-3 control-label">
                        ชื่อตำแหน่งผู้บังคับบัญชาโดยตรง<br />Position of direct superior
                    </label>
                    <div class="col-lg-4">
                        <div class="form-inline">
                            <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <br />
                @*end section1*@


                <div class="container">
                    <label for="REQ NO" class="col-lg-3">ชื่อตำแหน่งผู้ใต้บังคับบัญชาโดยตรง<br />Position of direct subordinate</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" readonly />
                    </div>
                    <label for="Status" class="col-xs-1 control-label">
                        จำนวน<br />Amount
                    </label>
                    <div class="col-lg-2">
                        <div class="form-inline">
                            <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" />
                        </div>
                    </div>
                    <label for="Status" class="col-xs-2 control-label">
                        คน<br />Person
                    </label>
                </div>
                <br />
                <div class="container">
                    @*end section2*@
                    <label for="Status" class="col-xs-3 control-label">
                        จำนวนรวมผู้ใต้บังคับบัญชา<br />Amount of total subordinate
                    </label>
                    <div class="col-lg-2">
                        <div class="form-inline">
                            <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" />
                        </div>
                    </div>

                    <label for="Status" class="col-xs-2 control-label">
                        คน<br />Person
                    </label>
                    @*end section3*@
                    <div class="col-lg-7">
                        <label for="REQ NO" class="col-lg-2">      </label>
                        <label for="REQ NO" class="col-lg-2">      </label>
                    </div>
                </div>

            </div>

            <br />
            <div class="col-lg-12">
                <h4><label class="label label-primary"><big>6)  ผู้เกี่ยวข้องโดยตรงกับตำแหน่งงานนี้ (Working Relation)</big></label></h4>
            </div>
            <br />
            <div class="form-group">


                @*end section1*@


                <div class="container">
                    <label for="REQ NO" class="col-lg-3">ภายในหน่วยงาน<br />Inside Department</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" readonly />
                    </div>

                </div>
                <br />
                <div class="container">
                    @*end section2*@
                    <label for="Status" class="col-xs-3 control-label">
                        ภายนอกหน่วยงาน (ภายในบริษัท)<br />Outside Department
                    </label>
                    <div class="col-lg-4">
                        <div class="form-inline">
                            <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" />
                        </div>
                    </div>

                    @*end section3*@
                    <div class="col-lg-7">
                        <label for="REQ NO" class="col-lg-2">      </label>
                        <label for="REQ NO" class="col-lg-2">      </label>
                    </div>
                </div>
                <br />
                <div class="container">
                    <label for="Status" class="col-xs-3 control-label">
                        ภายนอกบริษัท<br />Outside company
                    </label>
                    <div class="col-lg-4">
                        <div class="form-inline">
                            <textarea placeholder="" id="comment" name="comment" rows="5" cols="33" style="height: 85px; width: 1035px;" " ></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="col-lg-12">
                <h4><label class="label label-primary"><big>7)  คุณสมบัติของผู้ดำรงตำแหน่ง (Specification)</big></label></h4>
            </div>
            <br />
            <div class="form-group">


                @*end section1*@


                <div class="container">
                    <label for="REQ NO" class="col-lg-3">การศึกษา<br />Education Background</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" readonly />
                    </div>

                </div>
                <br />
                <div class="container">
                    @*end section2*@
                    <label for="Status" class="col-xs-3 control-label">
                        สาขา<br />Major
                    </label>
                    <div class="col-lg-4">
                        <div class="form-inline">
                            <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" />
                        </div>
                    </div>

                    @*end section3*@
                    <div class="col-lg-7">
                        <label for="REQ NO" class="col-lg-2">      </label>
                        <label for="REQ NO" class="col-lg-2">      </label>
                    </div>
                </div>
                <br />
                <div class="container">
                    <label for="Status" class="col-xs-3 control-label">
                        ประสบการณ์<br />Professional Experience
                    </label>
                    <div class="col-lg-4">
                        <div class="form-inline">
                            <input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" autocomplete="off" />
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="col-lg-12">
                <h4><label class="label label-primary"><big>8)  อำนาจดำเนินการ (Financial Responsibilities / Authorization)</big></label></h4>
            </div>
            <br />
            <div class="container">

                <table class="table table-bordered text-center" id="childTable" align="center">

                    <thead>
                        <tr class="warning">
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"class="text-center">ระดับอำนาจอนุมัติ (Authorized Level)
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr class="warning">
                            <th scope="col"class="text-center">No.</th>
                            <th scope="col"class="text-center">เรื่อง( Items)</th>
                            <th scope="col"class="text-center">อนุมัติได้เอง (Own Decision)</th>
                            <th scope="col"class="text-center">นำเสนอผู้บังคับบัญชา (Superior Approval)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <th scope="col">อนุมัติทำงานล่วงเวลาวันทำงานปกติ</th>



                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <th scope="col">อนุมัติส่งภาษีประจำเดือน</th>



                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <th scope="col">อนุมัติการทำสัญญาจ้างงาน</th>



                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <th scope="col">อนุมัติเบิกเครื่องเขียน</th>



                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <th scope="col">อนุมัติการลาของพนักงานในหน่วยงาน</th>



                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <br />
            <div class="col-lg-12">
                <h4><label class="label label-primary"><big>9)  ความสามารถที่จำเป็นในตำแหน่งงาน (Job Competencies)</big></label></h4>
            </div>
            <br />
            <div class="container">

                <table class="table table-bordered" id="childTable" align="center">


                    <thead>
                        <tr class="warning">

                            <th scope="col"> ความสามารถหลัก (Core Competency)</th>
                            <th scope="col"> ความสามารถด้านการบริหารการจัดการ (Managerial Competency)</th>
                            <th scope="col">ความสามารถเฉพาะสาขาอาชีพ (Functional Competency)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="Safety Awareness" autocomplete="off" readonly /></th>
                            <th scope="col" ><input  type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" readonly /></th>
                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" /></th>




                        </tr>
                        <tr>

                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="Excellent Qualty" autocomplete="off" readonly /></th>
                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" readonly /></th>
                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" /></th>




                        </tr>
                        <tr>

                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="Accountability" autocomplete="off" readonly /></th>
                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" readonly /></th>
                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" /></th>




                        </tr>
                        <tr>

                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="Leading for Continuous Improvement" autocomplete="off" readonly /></th>
                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" readonly /></th>
                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" /></th>




                        </tr>
                        <tr>

                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" readonly /></th>
                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" readonly /></th>
                            <th scope="col"><input type="text" class="form-control col-sm-2" data-validate="required" name="req_no" id="req_no" value="" autocomplete="off" /></th>




                        </tr>
                    </tbody>
                </table>


            </div>
            <br />
            <div class="col-lg-12">
                <h4><label class="label label-primary"><big>10)  คุณสมบัติอื่นๆ (Other)</big></label></h4>
            </div>
            <br />
            <div class="container text-center">
                <textarea placeholder="" id="comment" name="comment" rows="5" cols="33" style="height: 85px; width: 1035px;" " ></textarea>
            </div>
            <br />
            <div class="col-lg-12" align="center">
                <button type="submit" style="background-color:dodgerblue;color:white" class="btn btn-lg "><span class="glyphicon glyphicon-floppy-save"></span><b>  Save </b></button>
                <button type="button" style="background-color:red;color:white" onclick="swalCancel()" class="btn btn-lg "><span class="glyphicon glyphicon-remove-sign"></span><b>  Cancel </b></button>

            </div>
            <br>
            <br>
        </form>
        
    </div>
    <br>
    <br>
    <div class="row" align="center">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">ผู้จัดทำ / Prepared by</div>
                
                    <div class="panel-body"></div>
                    <div class="panel-body"></div>
                    <div class="panel-body"></div>

                
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">ผู้ทบทวน / Reviewed by</div>

                
                    <div class="panel-body"></div>
                    <div class="panel-body"></div>
                    <div class="panel-body"></div>

                

            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-primary" >
                <div class="panel-heading" >ผู้อนุมัติ  / Approved by</div>
                
                    <div class="panel-body"></div>
                    <div class="panel-body"></div>
                    <div class="panel-body"></div>

            </div>
        </div>

    </div>

    
</body>